#=========================== Filebeat inputs =============================
filebeat.inputs:

# Each - is an input. Most options can be set at the input level, so
# you can use different inputs for various configurations.
# Below are the input specific configurations.

- type: log

  # Change to true to enable this input configuration.
  enabled: {{ filebeat_inputs_enabled }}

  # Paths that should be crawled and fetched. Glob based paths.
  paths:
    - {{ filebeat_inputs_paths }}
    #- c:\programdata\elasticsearch\logs\*

  fields:
    log_topics: {{ fields_log_topics }}

#----------------------------- Kafka output --------------------------------
output.kafka:
  # initial brokers for reading cluster metadata
  hosts: {{ output_kafka_hosts }}

  # message topic selection + partitioning
  topic: '%{[fields.log_topics]}'
  partition.round_robin:
    reachable_only: false

  required_acks: 1
  compression: gzip
  max_message_bytes: 1000000
